.navbar {
    background-color: green;
}

body {
    background-color: green;
}
.container {
    background-color: red;
    margin-top: 3%;
}

h1 {
    margin-top: 1%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 25px; /* Vertically center the text there */
   
  }